<mat-card>
    <form [formGroup]="formGroup" class="form">

        <mat-card-title>
            Cadastro Cliente
        </mat-card-title>

        <div class="row">
            <div class="col col-8">
                <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="Nome" formControlName="nome">
                </mat-form-field>
            </div>
            <div class="col col-4">
                <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="CPF" formControlName="cpf" mask="9{11}" restrict="reject">
                </mat-form-field>
            </div>

            <div class="col col-8">
                <mat-form-field class="w-100">
                    <input matInput type="email" placeholder="E-mail" formControlName="email">
                </mat-form-field>
            </div>

            <div class="col col-4">
                <mat-form-field class="w-100">
                    <input matInput type="date" placeholder="Data Nascimento" formControlName="data_nascimento">
                </mat-form-field>
            </div>

        </div>

        <div class="d-flex">
            <div class="me-3">
                <button type="button" class="btn  btn-secondary" (click)="goBack()">
                    Voltar
                </button>
            </div>

            <div>
                <button type="button" class="btn" [ngClass]="mode == modeEnum.DELETE?  'btn-danger' : 'btn-success'"
                    (click)="submit()" [disabled]="!formGroup.valid">
                    {{btnMode}}
                </button>
            </div>
        </div>

    </form>
</mat-card>