<mat-card>
    <mat-card-title>
      Lista Pedidos
    </mat-card-title>
  
    <mat-card>
      <button type="button" class="btn btn-success" (click)="create()">Novo</button>
    </mat-card>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="w-100">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Data Venda </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente_nome">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente_nome}} </td>
      </ng-container>
  
      <ng-container matColumnDef="total_venda">
        <th mat-header-cell *matHeaderCellDef> Total Pedido </th>
        <td mat-cell *matCellDef="let element"> {{element.total_venda | currency: 'R$ '}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Atualizar </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-warning" (click)="edit(element.id)">Editar</button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-sm btn-danger" (click)="delete(element.id)">Excluir</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>